<!-- <video   preload="auto" loop="" autoplay="" muted=""  (click)="toggleVideo(videoPlayer)" #videoPlayer>
        <source src="{{videoUrl}}" type="video/mp4">  
       <source src="assets/videos/sona.webm" type="video/webm">
    </video> -->
<section class="d-block">
    <div class="container-fluid ">
        <div class="row homeImgBox position-relative ">
            <div class="w-100 d-block homeImg">

            </div>
        </div>
    </div>
</section>
<section class="d-block">
    <div class="container sec1-text py-5">
        <div class="row  justify-content-around position-relative ">
            <div class="col-5 offset-1">
                <div class="row h-100 align-content-center ">
                    <h3>
                        Faster Trials,<br/>
                        Deeper Insights.
                    </h3>
                    <p>
                        Unified AI-enabled clinical data analytics platform: integrates, curates, and animates data, delivering more actionable insights.
                    </p>

                </div>
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/bg-sec1.jpg" class=" col-12 d-inline-block" />
            </div>
        </div>
    </div>
</section>

<section class="d-block sec2-text">
        <div class="container  py-5">
            <p class="mb-1">Read the reviews and you will understand what we're talking about</p>
            <h2>Our speed..</h2>
            <div class="row box  justify-content-around position-relative ">
                <div class="col-4 px-5">
                    <div class="d-block ">
                        <p>The best coffee maker you've ever found. She knows how to wow her clients with a cup of fresh coffee.</p>
                        <h4>— Amanda Adams</h4>
                        <h5>Barista</h5>
                    </div>
                </div>
                <div class="col-4 px-5">
                    <div class="d-block ">
                        <p>The best coffee maker you've ever found. She knows how to wow her clients with a cup of fresh coffee.</p>
                        <h4>— Amanda Adams</h4>
                        <h5>Barista</h5>
                    </div>
                </div>
                <div class="col-4 px-5">
                    <div class="d-block ">
                        <p>The best coffee maker you've ever found. She knows how to wow her clients with a cup of fresh coffee.</p>
                        <h4>— Amanda Adams</h4>
                        <h5>Barista</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="d-block">
            <div class="container sec1-text sec3-text py-5">
                <div class="row py-5  justify-content-around position-relative ">
                    <div class="col-6 px-0 text-center">
                        <img src="assets/images/bg-sec-1.jpg" class=" col-12 px-0 d-inline-block" />
                    </div>
                    <div class="col-5 offset-1">
                        <div class="row h-100 align-content-center ">
                            <h3 class=" ctext-secondary">
                                    Homely atmosphere
                            </h3>
                            <p>
                                    As a missional Cafe focused on lasting options to poverty, we turn profits into hope. We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.
                            </p>
                            <a class="btn btn-md btn-info cbg-secondary " href="#">View More</a>
        
                        </div>
                    </div>
                </div>
                <div class="row py-5 justify-content-around position-relative ">
                    <div class="col-5">
                        <div class="row h-100 align-content-center ">
                            <h3 class=" ctext-secondary">
                                    Excellent service
                            </h3>
                            <p>
                                    Our preferred, straightforward and also unique method of developing cool coffee at our cafe. The flash-chill procedure enables us to harness each coffee's natural attributes with a hot-water brew, and afterwards lock them in place with an instant decrease in temperature level.
                            </p>
                            <a class="btn btn-md btn-info  cbg-secondary " href="#">View More</a>
        
                        </div>
                    </div>
                    <div class="col-6  offset-1 px-0 text-center">
                        <img src="assets/images/bg-sec-2.jpg" class=" col-12 px-0 d-inline-block" />
                    </div>
                </div>
            </div>
        </section>
    <section class="cid-qIpiCNOGSw py-5">
            <div class="container py-5">
            <div class="media-container-row">
            <div class="col-12 text-center">
            <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Welcome to Our Coffeehouse</h3>
            <h2 class="mbr-section-title mbr-fonts-style pb-3 display-2">Do you like it? Share this page!</h2>
            <div class="mbr-social-likes social-likes social-likes_visible social-likes_ready">
            <span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
            <i class="fa fa-facebook"></i></span>
            <span class="btn btn-social twitter socicon-bg-twitter mx-2" title="Share link on Twitter">
            <i class="fa fa-twitter"></i>
            </span>
            <span class="btn btn-social plusone socicon-bg-googleplus mx-2" title="Share link on Google+">
            <i class="fa fa-google-plus"></i></span>
            <span class="btn btn-social pinterest socicon-bg-pinterest mx-2" title="Share link on Pinterest">
            <i class="fa fa-pinterest"></i></span>
            <span class="btn btn-social mailru socicon-bg-mail mx-2" title="Share link on Mailru">
            <i class="fa fa-envelope"></i></span>
            </div>
            </div>
            </div>
            </div>
            </section>