<!-- section1 -->
<div class="container-fluid  sec-1 cbg-secondary">
        <div class="row  ">
            <div class="col-md-4">
                <img src="assets/images/about/image1.png" alt="noimage">
            </div>
            <div class="col-md-8 ">
              <div>
                    <h1 class="text-left ctext-white text-uppercase">Building Community</h1>
              </div>
            </div>
        </div>
</div>
<!-- section2 -->
<div class="container-fluid sec-2">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4 class=" text-center sec-2-h text-white align-middle" >Metro Detroit is quickly becoming a 
                    hub of technology and innovation, and we are proud to be a member of the region’s business 
                    community for more than ten years. As we have grown along with the region, we work in a number 
                    of ways to foster innovation in the area and develop a strong community of data professionals.
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- section3 -->
<div *ngFor="let section of div_section">
    <div class="container-fluid sec-3 mt-5 mb-5" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 pl-5 pr-5">
                <div class="sec-text float-left">
                    <h2 class="ctext-secondary">{{section.title}}</h2>
                    <p>{{section.content}}</p>
                </div>
                <div class="sec-image align-top"> 
                        <!-- <img src="{{section.title}}" alt="noimage" class="offset-4 mb-5">
                    -->
                    <img src="assets/images/about/img4.png" alt="noimage" class="offset-4 mb-5">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div>
                    <span class="sec-seperator " style="border-color: #ff780e;"></span>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


