<!-- section1 -->
<div class="container-fluid cbg-gray">
    <div class="row sec-1">
            <h2 class="text-center ctext-white" >We’re a passionate <span class="ctext-secondary">Business Analytics Company</span>; thrilled to help you make the right decisions by harnessing the power of <span class="ctext-secondary">Big Data.</span></h2>
  
    </div>
    <div class="row sec-sub">
        <div class="col-sm-2"> </div>
        <div class="col-sm-2">
            <div class=""><span class="count" data-initialized="false" data-speed="2000" data-refresh-interval="33" data-from="0" data-to="16">16</span>
              <div class=""><h5 class="text-center ctext-white" style="text-align: center;">Years</h5></div>
              
            </div>
        </div>
        <div class="col-sm-2">
            <div class=""><span class="count" data-initialized="false" data-speed="2000" data-refresh-interval="33" data-from="0" data-to="950">950</span>
             <div class=""><h5 class="text-center ctext-white">Employees</h5></div>
             
            </div>
        </div>
        <div class="col-sm-2">
            <div class=""><span class="count" data-initialized="false" data-speed="2000" data-refresh-interval="33" data-from="0" data-to="125">125</span>
                <div class=""><h5 class="text-center ctext-white" >Clients</h5></div>
                </div>
            </div>
        
        <div class="col-sm-2">
            <div class=""><span class="count" data-initialized="false" data-speed="2000" data-refresh-interval="33" data-from="0" data-to="244">244</span>
                <div class=""><h5 class="text-center ctext-white" >Projects</h5></div>   
            </div>
        </div>
        <div class="col-sm-2"></div>
        </div>
</div>
<!-- section2 -->
<div class="container-fluid sec-2">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                    <p class="ctext-white margin-text">We are a company driven by inquisitive data scientists, having developed a pragmatic and
                         interdisciplinary approach, which has evolved over the decades working with over 100 clients across multiple
                         industries. Combining several Data Science techniques from statistics, machine learning, deep learning, 
                         decision science, cognitive science, and business intelligence, with our ecosystem of technology platforms,
                         we have produced unprecedented solutions. Welcome to the Data Science Analytics team that can do it all, from
                          architecture to algorithms. <a href="" class="ctext-secondary" >Download a brochure</a>
                        </p>
            </div>
            <div class="col-md-3">
               <div>
                   <img src="assets/images/about/video.PNG" class=" mt-5 mb-4" alt="noimage">
               </div>
            </div>
            <div class="col-md-1"></div> 
        </div> 
    </div>
    <!-- section3 -->
    <div class="container-fluid sec-3">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <figure>
                            <img src="assets/images/about/img1.png" class="sec-2-image" alt="noimage">
                    </figure>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- section4 -->
    <div class="container-fluid sec-4">
        <div class="row">
          <div class="col-md-12">
             <div >
                    <h1 class="text-capitalize ctext-white text-center  sec-4-h" >Here To Grow</h1>
             </div>
             <a href="/news-events" class="btn btn-default sec-4-btns d-inline-block"> EVENTS</a>
             <a href="/news-events" class="btn btn-default margin-right-small"> EVENTS</a>
             <a href="/news-events" class="btn btn-default margin-right-small"> EVENTS</a>
          </div>
        </div>
    </div>
