.sol-sec-1{
    background-image: linear-gradient(66deg, #0dc2ed 20%, #aaf3ff 100%);
    height: 453px;
}
.sol-sec-1 img{
    height: 350px;
    margin: 4.2em;
   
}
.banner-text h2{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-top: 5em;
}
.contact-button{
    padding: 12px 24px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #f05a28;
    border: 1px solid #f05a28;
    color:white;
    font-size: 18px;
}
.contact-button:hover{
    background: #00a7ec;
    border: 1px solid #00a7ec;
}
.sol-sec-2{
    background-color: #0594b4;
    background-size: contain;
    height: 453px;
}
.sec-3-div{
    height: 420px;
}
.by-industry{
    background: #d8f0ff;
}
.story-today{
    background: #9ed8ff;
}
.sec-3-text{
    margin-top: 7em!important;
}
.sol-sec-2 img{
    margin-top: 18px;
}
.sec-tab-div{
    height: 620px;
}
.sec-tab-div span{
  color:orangered;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}
.tab-content-1{
    background: #9ed8ff;
    border: 1px solid #9ed8ff;
}
.tab-content-2{
    background: #d8f0ff;
    border: 1px solid #d8f0ff;
}
.tab-content-3{
   
    background: #d8f0ff;
    border: 1px solid #d8f0ff;
}
.tab-content-4{
    background: #9ed8ff;
    border: 1px solid #9ed8ff;
}
.by-function-icon{
    font-size: 2em;
    color:white
}
/* .tab-content-ul{
    margin-left: 2em;
    margin-right: 2em;
} */
.tab-content-list{
    cursor: pointer;
}