
<section class="sol-sec-1 ">
    <div class="container-fluid">
        <div class="row justify-content-center banner-img">
            <div class="col-6 p-0 text-center ">
                <img src="assets/images/solutions/solutions.png " class="">
            </div>
            <div class="col-6 p-0  justify-content-center banner-text ">
                <h2 class="text-white ">Our Solutions </h2>
                <p class="text-white"> More than software, end to end solutions that drive your organization. </p>
                <a href="#" class="btn contact-button">Contact Sonasoft</a>
            </div>
        </div>
    </div>
</section>
<section class="sol-sec-3 ">
    <div class="container-fluid">
        <div class="row justify-content-center sec-3-div">
            <div class="col-4 p-0 by-function bg-white">
                    <div class="sec-3-text m-5">
                            <h6 class=" ">Sonasoft Solutions </h6>
                            <h2 class="">BY FUNCTION</h2>
                            <p class="mt-4"> Sonasoft provides solutions for a broad range of business functions.  Explore the possibility built by Sonasoft.  </p>
                            <a href="#" class="btn contact-button mt-4">Learn More</a>
                    </div>
            </div>
            <div class="col-4 p-0  by-industry ">
                <div class="sec-3-text m-5">
                        <h6 class=" ">Sonasoft Solutions </h6>
                        <h2 class="">BY INDUSTRY</h2>
                        <p class="mt-4"> Sonasoft continues to innovate by creating end to end solutions that enable organizations to make better decisions and reach higher goals.  </p>
                        <a href="#" class="btn contact-button mt-4">Learn More</a>
                </div>
            </div>
            <div class="col-4 p-0   story-today ">
                    <div class="sec-3-text m-5">
                            <h6 class=" ">Sonasoft Solutions </h6>
                            <h2 class="">START TODAY</h2>
                            <p class="mt-4"> Sonasoft understands that capturing content data on a variety of communication platforms to build intelligence is an amazing advantage for any organization.  </p>
                            <a href="#" class="btn contact-button mt-4">Learn More</a>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                        <ul class="nav nav-pills mb-3 col-8 tab-content-ul offset-2" id="pills-tab" role="tablist">
                                <li class="nav-item col-6 bg-primary p-3 justify-content-center tab-content-list">
                                    <div class="ml-4" class="nav-link active text-white" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                            <i class="fa fa fa-qrcode by-function-icon ml-4">
                                            </i>
                                                <a class="ml-3">By Function</a>
                                    </div>
                                </li>
                                <li class="nav-item col-6 bg-primary p-3 justify-content-center tab-content-list ">
                                    <div class="ml-4" class="nav-link text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                        <i class="fa fa fa-pencil-square-o by-function-icon ml-4">
                                        </i>
                                        <a class="ml-3">By Industry</a>
                                    </div>
                                </li>
                            
                             
                        </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="row justify-content-center sec-tab-div">
                                                <div class="col-6 p-0 by-function tab-content-1">
                                                        <div class="sec-tab-text m-5">
                                                                <h6 class=" ">Sonasoft Solutions </h6>
                                                                <h2 class="">Enhance Customer Support</h2>
                                                                <p class="mt-4"><span>Sector:</span> High Tech<br>
                                                                        <span>Company size:</span> Fortune 1000<br>
                                                                        <span>Performance Area:</span> Customer Service <br>
                                                                       <span>Goal:</span>  Deflect human intervention from the company’s support engineers and deliver high customer satisfaction with relevant online technical support portfolio.<br>
                                                                        <span>Challenge:</span> Existing AI implementation to the company’s online technical support portfolio only achieved a 12 percent relevancy of producing the correct answer to customers’ searches. From the company’s 50,000 active users, the average number of searches per month were nine. The company’s average cost for human intervention and have a support engineer assist the customer is $800.00 per ticket.
                                                                 </p>
                                                                <a href="#" class="btn contact-button mt-4">Learn More</a>
                                                        </div>
                                                </div>
                                                <div class="col-6 p-0 by-function tab-content-2">
                                                        <div class="sec-tab-text m-5">
                                                                <h6 class=" ">Sonasoft Solutions </h6>
                                                                <h2 class="">Prevent Non-performing Assets</h2>
                                                                <p class="mt-4"><span>Sector:</span> High Tech<br>
                                                                        <span>Company size:</span> Fortune 1000<br>
                                                                        <span>Performance Area:</span> Customer Service <br>
                                                                       <span>Goal:</span>  Deflect human intervention from the company’s support engineers and deliver high customer satisfaction with relevant online technical support portfolio.<br>
                                                                        <span>Challenge:</span> Existing AI implementation to the company’s online technical support portfolio only achieved a 12 percent relevancy of producing the correct answer to customers’ searches. From the company’s 50,000 active users, the average number of searches per month were nine. The company’s average cost for human intervention and have a support engineer assist the customer is $800.00 per ticket.
                                                                 </p>
                                                                <a href="#" class="btn contact-button mt-4">Learn More</a>
                                                        </div>
                                                </div>
                                               
                                        </div>

                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="row justify-content-center sec-tab-div">
                                                <div class="col-6 p-0 by-function tab-content-3">
                                                        <div class="sec-tab-text m-5">
                                                                <h6 class=" ">Sonasoft Solutions </h6>
                                                                <h2 class="">solutions for K-12 educational institutes.</h2>
                                                                <p class="mt-4"><span>Sector:</span> High Tech<br>
                                                                        <span>Company size:</span> Fortune 1000<br>
                                                                        <span>Performance Area:</span> Customer Service <br>
                                                                       <span>Goal:</span>  Deflect human intervention from the company’s support engineers and deliver high customer satisfaction with relevant online technical support portfolio.<br>
                                                                        <span>Challenge:</span> Existing AI implementation to the company’s online technical support portfolio only achieved a 12 percent relevancy of producing the correct answer to customers’ searches. From the company’s 50,000 active users, the average number of searches per month were nine. The company’s average cost for human intervention and have a support engineer assist the customer is $800.00 per ticket.
                                                                 </p>
                                                                <a href="#" class="btn contact-button mt-4">Learn More</a>
                                                        </div>
                                                </div>
                                                <div class="col-6 p-0 by-function tab-content-4">
                                                        <div class="sec-tab-text m-5">
                                                                <h6 class=" ">Sonasoft Solutions </h6>
                                                                <h2 class="">Prevent Non-performing Assets</h2>
                                                                <p class="mt-4"><span>Sector:</span> High Tech<br>
                                                                        <span>Company size:</span> Fortune 1000<br>
                                                                        <span>Performance Area:</span> Customer Service <br>
                                                                       <span>Goal:</span>  Deflect human intervention from the company’s support engineers and deliver high customer satisfaction with relevant online technical support portfolio.<br>
                                                                        <span>Challenge:</span> Existing AI implementation to the company’s online technical support portfolio only achieved a 12 percent relevancy of producing the correct answer to customers’ searches. From the company’s 50,000 active users, the average number of searches per month were nine. The company’s average cost for human intervention and have a support engineer assist the customer is $800.00 per ticket.
                                                                 </p>
                                                                <a href="#" class="btn contact-button mt-4">Learn More</a>
                                                        </div>
                                                </div>
                                               
                                        </div>

                                </div>
                               
                              </div>
                </div>
                 
            </div>
        </div>
    </div>
</section><br>
<section class="sol-sec-2 mt-5">
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-6 p-0  ">
                <img src="assets/images/solutions/robotic-boost.jpg " height="430px">
            </div>
            <div class="col-6 p-0  justify-content-center banner-text ">
                <h2 class="text-white ">Request A Demo</h2>
                <p class="text-white"> Our team is ready to help you leverage your data into knowledge. </p>
                <a href="#" class="btn contact-button">Send Request</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container services-sec-division">
        <div class="row">
            <div class="col-12">
                <div class="row m-3 services-sec-solutions ">
                    <div class="col-12 col-sm-6 col-lg-4 service-main-div-1 ">
                        <div class="col-12 bg-white">
                                <div class="service-div-1">
                                        <div class="servie-icon m-3 ml-2">
                                            <img src="assets/images/gif/1.gif"> 
                                        </div>
                                        <h6 class="text-center">Order Your Video</h6>
                                        <p class="text-center ml-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                                    </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 service-main-div-2 ">
                            <div class="col-12 bg-white ">
                                    <div class="service-div-1">
                                            <div class="servie-icon m-3 ml-2">
                                                <img src="assets/images/gif/3.gif"> 
                                            </div>
                                            <h6 class="text-center">Order Your Video</h6>
                                            <p class="text-center ml-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                                        </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 service-main-div-3 ">
                                <div class="col-12 bg-white ">
                                        <div class="service-div-1">
                                                <div class="servie-icon m-3 ml-2">
                                                    <img src="assets/images/gif/2.gif"> 
                                                </div>
                                                <h6 class="text-center">Order Your Video</h6>
                                                <p class="text-center ml-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                                            </div>
                                </div>
                                
                            </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
                <div class="row bg-primary robot-section">
                    <div class="col-6">
                        <div class="robot-image">
                                <img src="assets/images/robot-3.png" class=""> 
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="row offset-1">
                            <div class="col-12  mt-2">
                                <div class="row robot-block-1 mt-5">
                                        <div class="col-1">
                                                <div>
                                                    <div class="robot-sec-1 text-center mt-5">
                                                                1
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="mt-3">
                                                    <h3 class="text-white text-center">Powerful Mobile And Online App</h3>
                                                    <p class="text-white text-center">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda beatae provident non hic eum dolores natus, vitae, quae, facere perferendis.
                                                    </p>
                                            </div>
                                        </div>
                                </div>
                                <div class="row robot-block-1 mt-4">
                                        <div class="col-1">
                                                <div>
                                                    <div class="robot-sec-1 text-center mt-5">
                                                                2
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="mt-3">
                                                    <h3 class="text-white text-center">Powerful Mobile And Online App</h3>
                                                    <p class="text-white text-center">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda beatae provident non hic eum dolores natus, vitae, quae, facere perferendis.
                                                    </p>
                                            </div>
                                        </div>
                                </div>
                                <div class="row robot-block-1 mt-4">
                                        <div class="col-1">
                                                <div>
                                                    <div class="robot-sec-1 text-center mt-5">
                                                                3
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="mt-3">
                                                    <h3 class="text-white text-center">Powerful Mobile And Online App</h3>
                                                    <p class="text-white text-center">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda beatae provident non hic eum dolores natus, vitae, quae, facere perferendis.
                                                    </p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid our-founders-venders-sec ">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12 our-founders-venders-div mt-5">
                                <div class="our-founders ">
                                    <h1 class="text-white text-center our-founders-text p-4">
                                            FOR OUR VENDORS
                                    </h1>
                                    <div class="offset-2 mt-3">
                                            <img src="assets/images/target.png" class=" ">
                                    </div>
                                    
                                    <h3 class="text-white text-center mt-5">
                                            We Enable Faster Market Penetration
                                    </h3>
                                    <div class="vendar-button offset-2 mt-4">
                                        <a class="btn  text-white text-center" href="">SEE WHAT WE DO FOR OUR VENDOR PARTNERS</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 our-founders-venders-div mt-5">
                                <div class="our-founders ">
                                        <h1 class="text-white text-center p-4">
                                                FOR OUR VENDORS
                                        </h1>
                                        <div class="offset-2 mt-3">
                                                <img src="assets/images/our-vendors.png" class=" ">
                                        </div>
                                        
                                        <h3 class="text-white text-center mt-5">
                                                We Enable Faster Market Penetration
                                        </h3>
                                        <div class="vendar-button offset-2 mt-4">
                                                <a class="btn  text-white text-center" href="">SEE WHAT WE DO FOR OUR VENDOR PARTNERS</a>
                                            </div>
                                    </div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>