<section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 banner-text">
                    <div class="row  justify-content-center mt-5 ">
                        <div class="col-6 tech-sec-1 ">
                                <h2 class=" h2 text-center text-white ">Technology Partners </h2>
                        </div>
                    </div>
                    <div class="row  justify-content-center">
                            <div class="col-5  ">
                                    <h3 class=" text-center text-white mt-2">DataFactZ carefully selects its Technology Partners for their best-in-class solutions to consistently exceed expectations.</h3>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="">
        <div class="container">
            <div class="row">
                <div class="col-12  ">
                    <div class="row  justify-content-center mt-5 ">
                        <div class="col-3 ">
                                <img src="assets/images/technical-report/t1.png " alt="Image not found" width="100%" class=""> 
                        </div>
                        <div class="col-3 ">
                                <img src="assets/images/technical-report/t11.png " alt="Image not found" width="100%" class=""> 
                        </div>
                        <div class="col-3 ">
                                <img src="assets/images/technical-report/t8.png " alt="Image not found" width="100%" class=""> 
                        </div>
                        <div class="col-3 ">
                                <img src="assets/images/technical-report/t4.png " alt="Image not found" width="100%" class=""> 
                        </div>
                    </div>
                    <div class="row  justify-content-center mt-5 ">
                            <div class="col-3 ">
                                    <img src="assets/images/technical-report/t1.png " alt="Image not found" width="100%" class=""> 
                            </div>
                            <div class="col-3 ">
                                    <img src="assets/images/technical-report/t2.png " alt="Image not found" width="100%" class=""> 
                            </div>
                            <div class="col-3 ">
                                    <img src="assets/images/technical-report/t3.png " alt="Image not found" width="100%" class=""> 
                            </div>
                            <div class="col-3 ">
                                    <img src="assets/images/technical-report/t4.png " alt="Image not found" width="100%" class=""> 
                            </div>
                        </div>
                    <div class="row  justify-content-center">
                            <div class="col-5  ">
                                    <h3 class=" text-center text-white mt-2">DataFactZ carefully selects its Technology Partners for their best-in-class solutions to consistently exceed expectations.</h3>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</section>