.header-scroll{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    top:0;
}
a.nav-link {
    color: #fff;
}
a.nav-link:hover{
    color: #ff780e;
}
.nav-link.active, .nav-pills .show>.nav-link {
    color: #ff780e;
    font-weight: bold;
    background-color: transparent;
}
.dropdown-menu{
    background-color: #101820;
    margin-top: 18px;
}
a.dropdown-item {
    background-color: #101820;
    color: #fff;
}
a.dropdown-item:hover {
    background-color: #101820;
    color: #ff780e;
}
.footer-bottom .nav-item a {
    padding: 0 10px;
    border-right: 1px solid #000;
    color: #000;
    background-color: transparent;
}
.footer-top p{
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}
.footer-top .font-semibold{
    font-weight: 600;
}
.social i {
    font-size: 35px;
}
.wrapper-img{
    background-image: url('../assets/images/footerimage.png');
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: 90px 90px;
    background-size: 90px;

}
.wrapper{
    padding-left: 40%;
}
.wrapper p {
    font-size: 20px;
}
.wrapper p.phone {
    font-size: 30px;
    color: #ff780e;
}