<ul class="d-inline-block pt-4 px-5">
    <li class="d-inline-block">
        <a role="menuitem" href="javascript:void(0)" [routerLink]="['']"   class="drop-nav-btn" >Home</a>
    </li> 
    <li class="d-inline-block">
        <a role="menuitem" href="javascript:void(0)" [routerLink]="['/about-us']"   class="drop-nav-btn" >About Us</a>
    </li>    
    <li class="d-inline-block">
        <a role="menuitem" href="javascript:void(0)" [routerLink]="['/leader-ship']"   class="drop-nav-btn" >leader-ship</a>
    </li>        
    <li class="d-inline-block">
        <a role="menuitem" href="javascript:void(0)" [routerLink]="['/leader-ship/demo']"   class="drop-nav-btn" >Demo</a>
    </li>          
</ul>   

<router-outlet></router-outlet>