<section class="news_events">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0  news_events-image">
                <!-- <img src="assets/images/new-events/banner.jpg " alt="Image not found" width="100%" class="">  -->
            </div>
            <div class="col-12 p-0 position-absolute banner-text">
                <h2 class="text-white text-center">News & Events </h2>
            </div>
        </div>
    </div>
</section>
<section class="dark-gray-sec ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 p-0 position-absolute ">
                <h4 class="text-white text-center ">Stay tuned for events we organize or attend. We’d be delighted to meet you in person! </h4>
            </div>
        </div>
    </div>
</section>
<section class="section-3 ">
    <div class="container-fluid ">
        <div class="row justify-content-center events-list">
            <div class="col-7 p-0 ">
                <h4 class="  event-title">Join us at Data for Breakfast, Stay for Zero to Snowflake</h4>
                <p class="my-3">Join us on March 13, 2019 at Data for Breakfast tour in Detroit to see how you can enable your organization to be data</p>
                <p class="my-3">You’ll leave with a playbook to:</p>
                <ul>
                    <li>Escape the constraints of legacy technology.</li>
                    <li>Deliver insight from all your data to all your business users.</li>
                    <li>Create your own data sharing economy.</li>
                </ul>
                <p>Once Data for Breakfast concludes, stay for an optional hands-on workshop, Zero to Snowflake, to learn how to set up a data warehouse in less than 90 minutes. You will also learn:</p>
                <ul>
                    <li>Escape the constraints of legacy technology.</li>
                    <li>Deliver insight from all your data to all your business users.</li>
                    <li>Create your own data sharing economy.</li>
                </ul>
                <button class="btn ">
                    Read More
                </button>
            </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Modernize Your Data Warehouse with Snowflake & DataFactZ – Webinar</h4>
                    <p class="my-3">DataFactZ and Snowflake are hosting a webinar on Wednesday, January 30th 2019 at 2:00 pm ET to inform and guide attendees through a journey of leveraging Snowflake’s cloud, data warehouse to meet organizatios goals by reducing costs.</p>
                    <p class="my-3">You’ll leave with a playbook to:</p>
                    <ul>
                        <li>Escape the constraints of legacy technology.</li>
                        <li>Deliver insight from all your data to all your business users.</li>
                        <li>Hear firsthand from one of the largest food distribution company in North America about their journey to Snowflake with DataFactZ as a partner.</li>
                    </ul>
                  
                    <button class="btn ">
                        Read More
                    </button>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Strata Data Conference</h4>
                    <p class="my-3">The Strata Data Conference (September 11th -13th, 2018), held in NYC at the Javits Center with over 200 sessions, in-depth tutorials, and fun networking events. Come and hear about the latest leading-edge technologies, and network with industry peers. You can find us at booth #1140 in the expo hall to discuss and demonstrate our solutions.</p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Big Data & Business Analytics Symposium – WSU</h4>
                    <p class="my-3">Be sure to stop by the <a href="#">5th Annual Big Data & Business Symposium</a> from March 22nd – 23rd, 2018 at Wayne State University.
                            DataFactZ and Neo4j are proud cosponsors of this event, where we are showcasing our solutions to drive business success.</p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Microstrategy World 2018</h4>
                    <p class="my-3">DataFactZ is joining our partners at Microstrategy World in Las Vegas (January 15-17, 2018) where thousands of the industry’s best professionals from around the world will come together to discuss the future of analytics. DataFactZ is showcasing our solutions and network with leading companies at booth #100 in the conference expo hall.</p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Strata Data Conference 2017</h4>
                    <p class="my-3">The Strata Data Conference (Sept 26 -28, 2017) is the world’s largest data conference. Held at New York City’s Javits Center, Strata brings together big data’s most influential professionals to discuss the latest trends, technologies and best practices for implementing data strategies. DataFactZ will exhibit at booth #908 in the conference expo hall.</p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">MicroStrategy Symposium – 2017</h4>
                    <p class="my-3">DataFactz is sponsoring three MicroStrategy Symposium Series in St.Louis, Philadelphia and New York City.</p>
                    <p class="my-3">Join us for these one-day events that highlights the latest in BI and analytics from MicroStrategy.</p>
                    <p class="my-3">Event Calendar</p>
                    <p class="my-3 ctext-secondary">10 JULY, 2017  |   St.Louis, MO | THE RITZ CARLTON </p>
                    <p class="my-3">Our Director Operations Shashi Joopalli and VP Technology Solutions Group Anil Hari will be presenting in St.Louis on Empowering Business Analytics with MicroStrategy  at 3 PM.</p>
                    <p class="my-3 ctext-secondary">13 JULY, 2017  |   Philadelphia, PA | HILTON CITY AVENUE </p>
                    <p class="my-3 ctext-secondary">14 JULY, 2017  |   New York City, NY | MICROSTRATEGY NEW YORK OFFICE </p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">In News – DataFactZ joins TDWI Solution Spotlight to discuss Real Time Analytics</h4>
                    <p class="my-3">Analytics experts discuss leveraging IBM z Systems to gain timely insights and value <a href="#">Read More</a></p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">TDWI Solution Spotlight, NY</h4>
                    <a href="#">TDWI Solution Spotlight , November 30, 2016 , NY</a>
                    <h5>
                            Using Apache Spark on the Mainframe to Drive Business Results
                    </h5>
                    <p class="my-3">Join your peers for a complimentary half day event focused on running advanced analytics on Apache Spark!.</p>
                    <p class="my-3">Subject matter experts from TDWI, Forrester, IBM, and DataFactZ will reveal Apache Spark as an enabler for modern analytics environments regardless of the industry. Learn about Apache Spark on z/OS business use cases incorporating customer insights and retention, 360 degree view of customer, fraud detection, transaction analytics, improving cross-sell and wallet share, reducing attrition, generating new revenue streams, gain timely insights in real- time data.</p>
                    <p class="my-3">Please <a href="#" class="font-weight-bold"> Register</a> for additional information call 248.912.1266.</p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">In News – DataFactZ to Present at IEEE SusTech Conference</h4>
                    <p class="my-3">DataFactZ: Data Science Engineer to present at IEEE SusTech Conference  <a href="#">Read More</a></p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">IBM Edge</h4>
                    <p class="my-3"> <a href="#">IBM Edge</a> will take place at the MGM Grand Conference Center in Las Vegas (September 19 – September 22, 2016), and will connect cognitive computing, open innovation and hybrid cloud to generate business growth. DataFactZ’s Satyendra Rana, PhD will discuss the future of Cognitive Analytics by continuous business optimization in a breakout session titled “Architecting the Future of Cognitive Business” on Wednesday, September 21 at 4 p.m.  </p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Cassandra Summit</h4>
                    <p class="my-3"> <a href="#">Cassandra Summit</a> The Cassandra Summit, held in San Jose, California, brings together more than 2,500 database professionals to discuss business solutions achieved through Apache Cassandra and DataStax Software. DataFactZ will exhibit at booth # S9 in the conference expo hall.  </p>
                    <p class="my-3"> Please join us this year at the Cassandra summit. DataFactZ is a silver partner with DataStax and a proud sponsor for this event.  </p>
                    <p class="my-3"> Sept 7 – Sept 9, San Jose Convention Center, CA </p>
                
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Cassandra Summit</h4>
                    <p class="my-3">  The  <a href="#">Strata + Hadoop</a>  World Conference (Sept 27–Sept 29, 2016), New York provides in-depth education in Data Science, Machine Learning and Analytics for business and technical professionals. DataFactZ will exhibit at booth # 219 in the conference expo hall. </p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Informatica World 2016</h4>
                    <p class="my-3"> Join us at Informatica World in San Francisco and learn more on how DataFactZ can empower your business with data driven solutions. </p>
                    <p class="my-3"> MOSCONE WEST   |   MAY 23-26, 2016  |   SAN FRANCISCO, CA </p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">In News – Yahoo Finance</h4>
                    <p class="my-3"> DataFactZ delivers in-transaction analytics solutions</p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Michigan Spark User Group Meetup</h4>
                    <p class="my-3"> Please join us for our next Spark Meetup event to learn more about “Developing Enterprise Grade Solutions Using Spark & Cassandra”. Please see updates on the blog for more details.</p>
                </div>
        </div>
        <div class="row justify-content-center events-list mt-4">
                <div class="col-7 p-0 ">
                    <h4 class="  event-title">Talend – Gold Partners</h4>
                    <p class="my-3"> We are proud to announce that DataFactZ is officially a System Integrator – Gold Partner of Talend.</p>
                </div>
        </div>
    </div>
</section>
<section class="section-4 ">
        <div class="container-fluid ">
                <div class="row justify-content-center ">
                        <div class="col-7 p-0 position-absolute ">
swdfgfhgghyj
                        </div>

                </div>
          
        </div>
</section>



