/**
Common S
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
/*Hight*/
.ch-80{
    height: 80px;
}

/*bg color*/
.cbg-primary{
    background: #101820;
}
.cbg-secondary{
    background: #ff780e;
}
/*text-color*/
.ctext-primary{
    color: #101820;
}
.ctext-secondary{
    color: #ff780e;
}

/**
Common E
*/
/**
Kumar S
*/
.sec-header{
    border:1px solid #05070a;
}
/**
Kumar E
*/